<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
        <link href="/css/styles.css" rel="stylesheet">

    <body>
        <%- include("./partials/header") %>
        <body>
            <main>
                
                <section>
                    <h2 class="carrito-title">TU CARRITO</h2>
                    <!-- <div class="productos-carrito"> -->
                        
                        <div class="wrapper">
  
                            <div class="table">
                              
                              <div class="row header">
                                <div class="cell">
                                  Nombre
                                </div>
                                <div class="cell">
                                  Precio
                                </div>
                                <div class="cell">
                                  Descuento
                                </div>
                                <div class="cell">
                                  Tamaño
                                </div>
                                <div class="cell">
                                    Marca
                                </div>
                              </div>
                              
                            </div>

                        </div>
                        <h2 class="monto-total">Total de tu compra: $</h2>
<!-- 
                    <article>
                        <img src="/images/productos/bolso.jpg" width=100% alt= "foto ropa">  
                        <div class="caja-datos-prod">
                            <p class="precios">$6.770</p>
                            <h4 class="oculto-enmobile">Bolso Deportivo</h4>
                        </div>
                    </article>
                     
                   

                    
                    <article class="una-caja">
                        
                        <div class="botones-mas-menos">
                        <p>
                            <i class="fas fa-minus"></i><i class="far fa-circle"></i><i class="fas fa-plus"></i>
                        </p>
                        </div>
                        
        
                         
                        <div class="detalles-prod">
                            <h4 class="titulo-prod">Bolso Deportivo</h4>
                            <p class="precios">Bolso Grande Nike Brasilia Large 9.0. Medidas aproximadas: 71cm x 35cm x 35cm
                            </p>
                        </div>
                    </article>
                    
        
                    <article>  
                        <div class="ticket">
                            <h4 class="titulo-prod">Ticket</h4>
                            <i class="fas fa-align-left"></i>
                            <h4 class="titulo-prod">Total:</h4>
                        </div>
                        <button class="boton-ticket">FINALIZAR COMPRA</button>
                        <button class="boton-ticket">SEGUIR COMPRANDO</button>
                        
                        
                    </article>
                    </div>-->
                </section>
                <div> 
                    <a href="/"><button class="boton-formulario">SEGUIR COMPRANDO</button></a>                    
                    <button class="boton-formulario borrar-carrito">VACIAR CARRITO</button>
                </div>
                <br>
                <br>
                
            </main>
            <script src="/js/carrito.js"></script> 
        </body>
    <%- include("./partials/footer")%> 
</html>        
