<footer>
    <div class="top-footer">
        <section>
            <h3>Contacto</h3>
            <ul>
                <li>Dirección</li>
                <li>Telefono</li>
                <li>Mail</li>
            </ul>
        </section>
        <section>
            <h3><a href=# >About us</a></h3>
        </section>
        <section>
            <h3><a href=# >Terminos y Condiciones</a></h3>
        </section>
        <section class="redes-sociales">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </section>
    </div>
    <section>
        <p class="copyright">Copyright © 1999-2020 EN MOVIMIENTO S.R.L.</p>
    </section>
</footer>